/***
 *    ┳┳┓┏┓┏┳┓┳┳┏┓┳┓┓ ┏┓┳┓┳┓  ┳┓┏┓┏┓┏┓┳┓┳┓┏┓┳┓┏┓┳┏┓┏┓
 *    ┃┃┃┣┫ ┃ ┃┃┃┃┣┫┃ ┣┫┃┃┃┃━━┃┃┣ ┃┃┣ ┃┃┃┃┣ ┃┃┃ ┃┣ ┗┓
 *    ┛ ┗┛┗ ┻ ┗┛┣┛┛┗┗┛┛┗┛┗┻┛  ┻┛┗┛┣┛┗┛┛┗┻┛┗┛┛┗┗┛┻┗┛┗┛
 *                                                   
 */


# hyprland dependencies
hyprland
hyprpicker
hyprlock
hypridle
swww
foot
swaync
waybar

# essential utilities
libnotify
nerd-fonts(geist-mono, ibmplex)
rustup
neovim
zsh
bat
zoxide
eza

# package manager extras
pacman-contrib

# wayland utilities
grim
jq
slurp
wl-clipboard
cliphist
rofi-wayland
xdg-desktop-portal-hyprland
xdg-desktop-portal-gtk
swappy

# image processing & viewing
imv
imagemagick

# user directories
xdg-user-dirs

# bluetooth utilities
bluez
bluez-utils
blueman

# extra fonts
noto-fonts-cjk
noto-fonts-emoji

# aur packages
librewolf-bin
matugen-bin
cava
python-pywalfox
wlogout


# kernel & nvidia drivers
linux-headers
dkms
nvidia-dkms

# file manager & media utilities
thunar
tumbler
thunar-volman
gvfs
gvfs-mtp
ffmpeg
ffmpeg-thumbnailer
playerctl

# sound control
pavucontrol

# network & terminal utilities
network-manager-applet
tmux

# qt theming
kvantum
qt5ct
qt6ct
qt5-wayland
qt6-wayland

# miscellaneous
spotify-launcher
fzf
polkit
polkit-gnome
fastfetch
bc
mpv
mpv-mpris
brightnessctl
nwg-look
fd
lazygit 
gripgrep
git-delta
